* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: white;
}

body {
	font-size: 100%;
	font-family: "Times New Roman", Times, serif;
	width: 60%;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

a:hover {
	font-style: italic;
}

.title {
	display: flex;
	border-bottom: 3px solid #931420;
	padding: 1.5em 0 2em;
	text-indent: 0;
	background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, #ffffff 50%, #f6bb73 80%, #f6bb73 100%);
}

.title img {
	margin: 0 1.5em;
}

.container {
	flex-direction: column;
}

.title-main {
	font-size: 170%;
	color: #800000;
	text-indent: 30px;
}

.title-sub {
	font-size: 130%;
	font-style: italic;
	text-indent: 30px;
}

.content {
	display: flex;
}

.content h2 {
	font-size: 130%;
	color: #800000;
	padding: .5em 0 .25em;
}

.aside-1 {
	padding: 0 1em 2em 1.5em;
}

.aside-1 h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

.aside-1 img {
	max-width: 40%;
	height: auto;
	padding-bottom: 1em;
}

.content-right {
	display: flex;
	flex-direction: column;
} 

.aside-2 {
	padding-bottom: 1em;
}

.aside-2 ul {
	padding-left: 1.25em;
}

.aside-2 ul li {
	padding-bottom: .35em;
}

.aside-2 {
	margin-right: 1.25em;
}

.content-right {
	margin: 0 1.25em;
}

.content .article {
	padding-bottom: 1.25em;
}

.article img {
	float: right;
	width: 50%;
	height: auto;
	padding: 0 1em;
}

.article h1 {
	padding-bottom: .5em;
}

.article .post-2 {
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
	padding: .5em 0 1.25em;
}

.article .quote {
	padding: 0 2em;
	font-style: italic;
}

.quote:before {
	content: '\201C';
}

.quote:after {
	content: '\201D';
}

.shadow {
	text-shadow: 2px 2px 2px #800000;
}

#footer {
	background-color: #931420;
}

.copyright p {
	color: white;
	text-align: center;
	padding: 1em 0;
}

#nav_menu ul {
	list-style-type: none;
}

#nav_menu > ul {
	display: flex;
}

#nav_menu>ul>li {
  	flex: 25%;
}

#nav_menu ul li:hover > a {
	background-color: #000000;
}

#nav_menu ul ul li:hover > a {
	background-color: #bdbdbd;
	color: black;
}

#nav_menu ul ul ul li:hover > a {
	background-color: #ababab;
	color: black;
}

#nav_menu ul li a {
	text-decoration: none;
	text-align: center;
	padding: .5em;
	background-color: #5f5f5f;
	color: white;
	font-weight: bold;
	display: block;
	/* border-right: 2px solid #fffded; */
}

.nav .lastitem a{
	border-right: none;
}

.nav li{
  position: relative;
}

.nav .sub-menu{
  display: none; 
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  background-color: #eee;
  
}

#sub-menu-last{
  display: none; 
  position: absolute;
  top: 0;
  width: 100%;
  left: -100%;
}

.nav li:hover>.sub-menu {
  display: block;
}

.nav li:hover> #sub-menu-last {
  display: block;
}

.nav>li>.sub-menu{
  top: 100%;
  left: 0;
}

 @media screen and (max-width: 480px) {
	.title {
		display: flex;
		flex-direction: column;
	}

	 .title img {
		display: block;
		margin: 0 auto;
	} 

	.title-main{
		font-size: 120%;
		text-indent: unset;
		text-align: center;
	}

	.title-sub {
		font-size: 100%;
		text-indent: unset;
		text-align: center;
	}

	.content {
		flex-direction: column; 
	}

	 .container-speakers {
		display: flex;
	}
	
	.aside-1 {
		padding: 0;
		text-align: center;
		font-size: 95%;
	}

	.speakers img {
		display: block;
		margin: 0 auto;
	}
 	
 	.article .post-2 {
 		border-bottom: none;
 	}

 	.article .post-1 {
 		border-top: 2px solid #800000;
 	}

	.aside-2 {
		margin: 0 auto;
	}

	.article h1 {
		font-size: 140%;
		text-align: center;
	}  
} 