form {
	width: 40%;
	margin: 0 auto;
}

fieldset {
	margin-bottom: .5em;
	padding: .5em 1em;
}

legend {
	color: black;
	font-weight: bold;
	margin-bottom: .5em;
}

label {
	float: left;
	text-align: right;
	width: 8em;
}

input, select {
	width: 15em;
	margin-left: 1em;
	margin-bottom: .5em;
}

input:required, input[required] {
	border: 2px solid #800000;
}

input:valid {
	border: 1px solid black;
}

input:invalid {
	border: 2px solid #800000;
}

select {
	background: transparent;
} 

#payment label{
	float: none;
}

#payment input {
	margin-left: 4em;
	width: auto;
}

#expDate {
	width: 7em;
}

#year {
	width: 5em;
}

#button input {
	width: 8em;
	background: #ccc;
}