* {
	margin: 0;
	padding: 0;
}

html {
	background-color: white;
}

body {
	/* font-size: 100%; */
	font-family: "Times New Roman", Times, serif;
	width: 600px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

.title {
	border-bottom: 3px solid #931420;
	padding: 1.5em 0 2em;
	text-indent: 0;
	background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, #ffffff 50%, #f6bb73 80%, #f6bb73 100%);
}

.title img {
	float: left;
	padding: 0 30px;
}

.title-main {
	font-size: 170%;
	color: #800000;
	text-indent: 30px;
}

.title-sub {
	font-size: 130%;
	font-style: italic;
	text-indent: 30px;
}

a:hover {
	font-style: italic;
}

.shadow {
	text-shadow: 2px 2px 2px #800000;
}

.content {
	padding: 0 30px;
}

.speakers-heading {
	border: 3px double #931420;
	/* border-bottom:3px double #931420; */
	border-radius: 8px;
	box-shadow: 3px 3px 3px 0px black;
	font-size: 150%;	
	padding: .3em 0;
	margin-bottom: .5em;
	text-align: center;
}

.intro-title {
	font-size: 130%;
	color: #800000;
	padding: .5em 0 .25em;
}

.speakers-detail {
	font-size: 105%;
	padding-bottom: .25em;
}

.content img {
	padding-bottom: 1em;
}

.intro-description {
	padding-bottom: .5em;
}

.quote {
	padding: 0 2em;
	font-style: italic;
}

.intro-list {
	padding: 0 0 .25em 1.25em;
}

.type-ticket {
	padding-bottom: .35em;
}

#footer {
	background-color: #931420;
}

.copyright p {
	color: white;
	text-align: center;
	padding: 1em 0;
}
